<ion-header id="HomeyDance">

    <ion-navbar #myNav class="navHomey">

    </ion-navbar>
    <ion-title>Votre Profil</ion-title>
    <img id="log_header" src="./assets/imgs/logo.png" alt="log">


</ion-header>



<ion-content class="background" padding>



    <div class="card">

        <img id="imgProfil" src="{{user_valid?.photoUser}}" alt="John" style="width:100%">


        <p class="title">{{user_valid?.userName}}<br>{{user_valid?.adresse}},{{user_valid?.ville}}, {{user_valid?.codePostal}}

        </p>
        <p>{{user_valid?.userSex}}</p>








        <div class="popup-menu">
            <div class="panel">
                <div *ngIf="hasLogement()" class="item_9" (click)="verPageModifierLogement()">
                    <ion-icon name="home"></ion-icon>
                    <p>Modifer Votre Logement</p>
                </div>
                <div class="item_9" (click)="verPageModifierProfile()">
                    <ion-icon name="person"></ion-icon>
                    <p>Modifier votre profile</p>
                </div>
                <div class="item_9" (click)="signOut()">
                    <ion-icon name="log-out" md="md-log-out"></ion-icon>
                    <p>Déconnecter</p>
                </div>
                <div class="item_9" (click)="supprimerUser()">
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    <p>Supprimer votre profille</p>
                </div>
                <div class="item_9" *ngIf="hasLogement()" (click)="supprimerLogement()">
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    <p>Supprimer votre logement</p>
                </div>

            </div>
        </div>



    </div>


    <br>
    <div *ngIf="!hasLogement()">
        <p><button class="btn" ion-button (click)="verAjouterLogement()">Ajouter un logement</button></p>
    </div>
    <ion-card *ngIf="hasLogement()">

        <ion-item>
            <ion-avatar item-start>
                <img src="{{user_valid?.photoUser}}">
            </ion-avatar>

            <h2>{{user_valid.userName}}</h2>
            <p>Date de Naissance :{{ user_valid?.dateDeNaissance| date}}</p>
        </ion-item>



        <ion-slides loop="true" style="background-color: black">

            <ion-slide *ngFor="let image of imagesLogement">

                <img ng-if="image" data-src="{{image}}">


            </ion-slide>
        </ion-slides>

        <ion-card-content>
            <p>{{logement_valid?.adresse}}, {{logement_valid?.ville}}, {{logement_valid?.codePostal}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small (click)="verLogementProfil()">
            <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
            <div>Savoir plus</div>
        </button>
            </ion-col>

        </ion-row>

    </ion-card>

</ion-content>