    page-profil {
        .background {
            background-image: url(../assets/imgs/logo.png);
            background-size: cover;
            background-size: 300px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .toolbar-title {
            padding: 18px;
        }
        .swiper-slide img {
            width: 100%;
            height: 100px;
            border-radius: 22px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: 'Times New Roman';
            margin-bottom: 27px;
            background: #d4e0cc;
        }
        .title {
            color: rgb(43, 20, 20);
            font-size: 17px;
            font-weight: bold;
        }
        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }
        button:hover,
        a:hover {
            opacity: 0.7;
        }
        .bar-button::after {
            background-image: url(../assets/imgs/back.png);
            background-size: 65px;
            background-repeat: no-repeat;
            background-position: center;
            width: 49px;
            height: 55px;
            left: -11px;
            top: -13px;
        }
        .ion-md-arrow-back:before {
            display: none;
        }
        #imgProfil {
            border-radius: 40px;
            height: 123px;
            width: 100px !important;
        }
        ion-badge {
            right: calc(50% - 30px) !important;
            top: -5px;
            position: absolute;
            right: 4%;
            padding: 1px 6px;
            height: auto;
            font-size: 12px;
            line-height: 16px;
        }
        .item_9 ion-icon {
            text-align: center;
            color: rgb(39, 26, 26);
            font-size: 2.5em;
        }
        .panel {
            width: 300px;
            height: 250px;
            border-radius: 5%;
            bottom: 20px;
            padding: 0px 5px;
            background: #FFAFBD;
            background: linear-gradient(to right, #ffc3a0, #FFAFBD);
            z-index: 102;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .item_9 {
            border: 1px solid #ecd9d9;
            cursor: pointer;
            width: 100%;
            border-radius: 20px;
        }
        .item_9 p {
            padding: 0px;
            margin: 0px 0px auto 0px;
            text-align: center;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 11px;
            text-align: center;
            color: rgb(39, 26, 26);
        }
        .item_9:hover {
            background: rgb(177, 125, 121);
        }
        #text {
            font-size: 1.5rem;
        }
    }